In [1]:
# importing required libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# importing the datasets

conf_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

deaths_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

In [3]:
# first 5 rows for confirmed cases dataset
conf_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/12/22,3/13/22,3/14/22,3/15/22,3/16/22,3/17/22,3/18/22,3/19/22,3/20/22,3/21/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,176039,176201,176409,176571,176743,176918,176983,177039,177093,177191
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,272621,272663,272689,272711,272804,272885,272961,273040,273088,273088
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,265410,265432,265457,265478,265496,265511,265524,265539,265550,265562
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,38794,38794,38794,38794,38794,39234,39234,39234,39234,39234
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,98909,98927,98931,98956,98985,99003,99003,99003,99003,99010

In [4]:
# first 5 rows for confirmed cases dataset
deaths_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/12/22,3/13/22,3/14/22,3/15/22,3/16/22,3/17/22,3/18/22,3/19/22,3/20/22,3/21/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,7641,7643,7645,7646,7651,7651,7651,7652,7654,7654
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,3485,3485,3485,3486,3487,3487,3487,3487,3487,3487
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,6862,6864,6866,6868,6869,6870,6871,6871,6871,6872
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,152,152,152,152,152,153,153,153,153,153
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1900,1900,1900,1900,1900,1900,1900,1900,1900,1900

In [5]:
# getting all the dates for confirmed cases and deaths
# selecting only the dates columns

cols = conf_df.keys()
conf = conf_df.loc[:, cols[4]:cols[-1]]
deaths = deaths_df.loc[:, cols[4]:cols[-1]]

In [6]:
# getting total confirmed cases, total deaths, world cases and mortality rate
dates = conf.keys()

cases_in_world = []
deaths_total = []
rate_of_mortality = []

def total_calc(a, b):
    for i in dates:
        a_sum = a[i].sum()
        b_sum = b[i].sum()
        
        cases_in_world.append(a_sum)
        deaths_total.append(b_sum)
        rate_of_mortality.append(b_sum/a_sum)
    return a_sum, b_sum

conf_sum, death_sum = total_calc(conf, deaths)
print('Total confirmed cases: ', conf_sum)
print('Total deaths : ', death_sum)

Total confirmed cases:  472117794
Total deaths :  6093852

In [8]:
# function for calculating daily increase and moving average
# moving average - as the average is not linear, we need to calculate the moving average for plotting

def daily_increase(a):
    d = []
    for i in range(len(a)):
        if i == 0:
            d.append(a[0])
        else:
            d.append(a[i]-a[i-1])
    return d

def moving_average(a, w):
    d = []
    for i in range(len(a)):
        if i+w < len(a):
            d.append(np.mean(a[i:i+w]))
        else:
            d.append(np.mean(a[i:len(a)]))
    return d